*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
a.lnk
app/release/app-release.apk
app/release/output.json
app/src/androidTest/java/com/bald/uriah/baldphone/ExampleInstrumentedTest.java
app/src/test/java/com/bald/uriah/baldphone/ExampleUnitTest.java
monkey.bat
run.bat
app/baldUpdates/release/app-baldUpdates-release.apk
app/baldUpdates/release/app-release.apk
app/baldUpdates/release/output.json
